<a href="https://colab.research.google.com/github/rbawilliams/Module-13-Challenge/blob/main/venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports

import numpy as np
import pandas as pd
from pathlib import Path
import tensorflow as tf
import tensorflow.compat.v2 as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
encoder = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = encoder.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = encoder.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)
encoded_df = pd.concat([numerical_variables_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled.shape

(24009, 116)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=number_output_neurons, activation='sigmoid'))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Define the neural network model
nn = Sequential()
nn.add(Dense(units=8, input_dim=number_input_features, activation="relu"))
nn.add(Dense(units=1, activation="sigmoid"))
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics="accuracy")

In [24]:

# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
751/751 [==============================] - 7s 7ms/step - loss: 0.6126 - accuracy: 0.7034
Epoch 2/50
751/751 [==============================] - 3s 4ms/step - loss: 0.5656 - accuracy: 0.7258
Epoch 3/50
751/751 [==============================] - 4s 5ms/step - loss: 0.5566 - accuracy: 0.7267
Epoch 4/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7278
Epoch 5/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7298
Epoch 6/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7296
Epoch 7/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7308
Epoch 8/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7307
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7318
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7305
Epoch 11/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7311
Epoch 12/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7312
Epoch 13/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7311
Epoch 14/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7313
Epoch 15/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7314
Epoch 16/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7321
Epoch 17/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7321
Epoch 18/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7309
Epoch 20/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7328
Epoch 21/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7322
Epoch 22/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7327
Epoch 23/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7331
Epoch 24/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7322
Epoch 25/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 26/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7336
Epoch 27/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7333
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7324
Epoch 29/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7323
Epoch 30/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7338
Epoch 31/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7332
Epoch 32/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7336
Epoch 33/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 34/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7341
Epoch 35/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7336
Epoch 36/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7333
Epoch 37/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7329
Epoch 38/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7337
Epoch 39/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7340
Epoch 40/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7338
Epoch 41/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7339
Epoch 42/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 43/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7336
Epoch 44/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7333
Epoch 45/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7343
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7341
Epoch 47/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7344
Epoch 48/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7336
Epoch 49/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7345
Epoch 50/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7337

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - loss: 0.5712 - accuracy: 0.7317 - 649ms/epoch - 2ms/step
Loss: 0.5711652636528015, Accuracy: 0.731681227684021

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))


# Output layer
nn.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))


# Check the structure of the model
# YOUR CODE HERE

In [32]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
751/751 [==============================] - 2s 3ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 2/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 5/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 10/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 11/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 12/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 20/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 27/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 29/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 36/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 37/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 38/50
751/751 [==============================] - 2s 3ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 43/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 44/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 47/50
751/751 [==============================] - 2s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 48/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 49/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05
Epoch 50/50
751/751 [==============================] - 1s 2ms/step - loss: 7.8568 - accuracy: 8.3302e-05

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

8

In [37]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [38]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))
# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 936

 dense_8 (Dense)             (None, 1)                 9

=================================================================
Total params: 945
Trainable params: 945
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [40]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6789 - accuracy: 0.6745
Epoch 2/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5887 - accuracy: 0.7241
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5695 - accuracy: 0.7271
Epoch 4/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7275
Epoch 5/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7289
Epoch 6/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7299
Epoch 7/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7315
Epoch 8/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7304
Epoch 9/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7291
Epoch 10/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7305
Epoch 11/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7311
Epoch 12/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7310
Epoch 13/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7311
Epoch 14/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7320
Epoch 15/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7324
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7328
Epoch 17/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7326
Epoch 18/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7322
Epoch 19/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7323
Epoch 20/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7323
Epoch 21/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7321
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7326
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 24/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7322
Epoch 25/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 26/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7323
Epoch 27/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7323
Epoch 28/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 29/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7319
Epoch 30/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 31/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7321
Epoch 32/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7320
Epoch 33/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7328
Epoch 34/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7331
Epoch 35/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7326
Epoch 36/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7332
Epoch 37/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7329
Epoch 38/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7331
Epoch 39/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7336
Epoch 40/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7330
Epoch 41/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7337
Epoch 42/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7336
Epoch 43/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7336
Epoch 44/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7337
Epoch 45/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7335
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7333
Epoch 47/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7331
Epoch 48/50
751/751 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7330
Epoch 49/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7329
Epoch 50/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7333

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
322/322 - 1s - loss: 0.5712 - accuracy: 0.7317 - 506ms/epoch - 2ms/step
Loss: 0.5711652636528015, Accuracy: 0.731681227684021

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
322/322 - 1s - loss: 7.8366 - accuracy: 9.7182e-05 - 670ms/epoch - 2ms/step
Loss: 7.83658504486084, Accuracy: 9.718172805150971e-05

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
322/322 - 1s - loss: 0.5700 - accuracy: 0.7286 - 929ms/epoch - 3ms/step
Loss: 0.5700482130050659, Accuracy: 0.7285714149475098

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [45]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)